<launch>
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    <arg name="map_file" value="/home/pieter/output/gridmap.yaml" />
  </include>
  <node pkg="proximity" type="proximity_beacon_mover.py" name="proximity_beacon_mover" launch-prefix="gnome-terminal --command" output="screen">
  </node>
</launch>
